{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/edit-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Login</h1>
            <span class="subheading">Awesome posts are waiting for you.</em></span>
            <p class="text-danger">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                   <p>{{ message }}</p>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">


        {{wtf.quick_form(form)}}

      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}